{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"filepath": "d:\\webe_fc\\public\\components\\webe-login\\login-shared-styles.js",
	"parser": "babel",
	"[json]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	}
	
}
