<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/01/20'     -->

<!-- prettier-ignore-html -->

<!-- prettier-ignore-html)(!DOCTYPE html) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    	<meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"
		/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/src/css/index.css" />
    <script type="module" src="/src/js/index.js" content="text/javascript" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Web-Application-Development, by HOOT Webelistics&#174;</title>
  </head>

  <body id="body" class="body">
   



    {{{body}}}
    {{! Before Production this is going to be a Web-Component  }}

    
    {{!-- {{{footer}}} --}}


  </body>

</html>