<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/01/20'     -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    	<meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"		/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    {{> seo_head}}
    <link
			rel="shortcut icon"
			href="/src/img/favicon.ico"
			type="image/x-icon"
			origin="anonymous"
		/>
    <link href="/src/css/index.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <script type="module" src="/src/js/index.js" content="text/javascript" crossorigin="anonymous"></script>    
        <title>HOOT Webelistics&#174; => ^^Internet-Mobile-Desktop-Application-Development^^</title>
  </head>

  
       {{! Before Production this is going to be a Web-Component  }}

    


    <body>

      
    </body>
   {{{body}}}

  

</html>