<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{> seo_head}}
    	<meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"		/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
   
  </head>
   

<body>

{{{body}}}

</body>




  


</html>