<!--& ::::::::: -->

<!-- prettier-ignore-html -->

<!-- prettier-ignore-html)(!DOCTYPE html) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    	<meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"
		/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/src/css/index.css" />
    <script src="/src/js/index.js" content="text/javascript" defer></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Webelistics&#174;</title>
  </head>

  <body id="body" class="body">
    <header id="header" class="header">
      <div class="logo-container">
        <img
          id="header-image"
          class="header-image"
          src="/src/img/HOOT_HEAD.png"
          alt="HOOT Image"
        />
      </div>
      <div id="h1-container" class="h1-container">
        <h1 class="h1-hoot " alt="HOOT Title">HOOT<sup class="h1-hoot-sup">
      &#174;
    </sup><br/></h1>       
      </div>
      <br/>
      <br/>
      <div id="title-container" class="title-container" >
        <h1 class="h1-header" alt="Webelistics">Webelistics<sup class="h2-home-sup">
      &#174;
    </sup></h1>
      </div>
    </header>
    {{! Before Production this is going to be a Web-Component  }}
    {{{body}}}
    {{{footer}}}

  </body>

</html>