<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{> seo_head}}
    	<meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"		/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <script type="module" src="/components/webe-login/webe-login.js" content="text/javascript" crossorigin="anonymous"></script>    
    <script type="module" src="/components/webe-login/loginIndex.js" content="text/javascript" crossorigin="anonymous"></script>    

  </head>

   
<body>   
   {{{body}}}
</body>
    {{! Before Production this is going to be a Web-Component  }}

    


    

  

</html>