<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/03/05'     -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    	<meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"		/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    {{> seo_head}}
    <link
			rel="shortcut icon"
			href="/src/img/favicon.ico"
			type="image/x-icon"
			origin="anonymous"
		/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
  </head>

  
   <body>





   {{{body}}}
   </body>