<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/00/00'     -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="../../src/img/favicon.ico"
			type="image/x-icon"
		/>
		<link rel="stylesheet" type="text/css" href="index.css" />
		<script src="index.js" content="text/javascript" defer></script>
		<title>Webelistics® Footer Web-Component</title>
	</head>

	<body>
		<webe-footer></webe-footer>
	</body>
</html>
