@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
	--webe-header-clr-primary: hsl(0, 0%, 13%);
	--webe-header-clr: hsl(32, 83%, 54%);
	--webe-header-clr-trim: hsl(30, 4%, 11%);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
}

.footer {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 2;
	grid-gap: 1px;
	margin: 1vh auto 1vh auto;
	position: relative;
	height: 45%;
	justify-content: center;
	align-items: center;
	background: hsl(32, 83%, 54%);
	font-family: 'Days One', sans-serif;
	font-size: 0.8vw;
	color: var(--webe-header-clr-primary);
	z-index: 4;
}
.footer {
	max-width: calc(50% - 80px);
}
/* Update: I changed the max-width from 500px to 580px. Thanks @fvsch */
@media screen and (max-width: 580px) {
	.footer {
		max-width: 250px;
	}
}
/* @media screen and (max-height: 800px) {
	.footer {
		max-height: 450px;
	}
} */

.hoot-webelistic {
	grid-column: 1;
	grid-row: 1;
	padding: 1px;
}

.about_us {
	grid-column: 2;
	/* grid-column: 1 / span 2; */
	grid-row: 1;
	padding: 1px;
}

.apps {
	grid-column: 3;
	grid-row: 1;
	padding: 1px;
}

.hoot_2022a {
	grid-column: 4;
	grid-row: 1;
	padding: 1px;
}

.help {
	grid-column: 5;
	grid-row: 1;
	color: var(--webe-header-clr-primary);
	padding: 1px;
}

.contact_us {
	grid-column: 6;
	grid-row: 1;
	padding: 1px;
	color: var(--webe-header-clr-primary);
}
