@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
	--webe-header-clr-primary: hsl(0, 0%, 13%);
	--webe-header-clr: hsl(32, 83%, 54%);
	--webe-header-clr-trim: hsl(30, 4%, 11%);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
}

.footer {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1 / 2;
	/* grid-gap: 0.5px; */
	bottom: -8vh;
	margin: 0.1vh auto 0.1vh auto;
	position: relative;
	max-width: calc(60% - 60px);
	height: auto;
	background-color: rgba(235, 144, 40, 0.09);
	border-radius: 10px;
	text-align: center;
	font-family: 'Days One', sans-serif;
	font-size: 0.7vw;
	color: var(--webe-title-clr);
	z-index: 6;
}

.footer .hoot-webelistic {
	grid-column: 1;
	grid-row: 1;
	margin: 1vw 0 1vw 0;
	position: relative;
	display: block;
	color: var(--webe-title-clr);
	z-index: 6;
}

.hoot-webelistic .register {
	font-size: 0.6vw;
	text-decoration: skip-line;
}

.footer .about_us {
	grid-column: 2;
	grid-row: 1;
	margin: 1vw 0 1vw 0;
	position: relative;
	display: block;
	color: var(--webe-title-clr);
}

.footer .apps {
	grid-column: 3;
	grid-row: 1;
	margin: 1vw 0 1vw 0;
	position: relative;
	color: var(--webe-header-clr-primary);
}

.footer .hoot_2022 {
	grid-column: 4;
	grid-row: 1;
	margin: 1vw 0 1vw 0;
	position: relative;
	color: var(--webe-header-clr-primary);
}

.footer .help {
	grid-column: 5;
	grid-row: 1;
	margin: 1vw 0 1vw 0;
	position: relative;
	color: var(--webe-header-clr-primary);
}

.footer .contact_us {
	grid-column: 6;
	grid-row: 1;
	margin: 1vw 0 1vw 0;
	position: relative;
	color: var(--webe-header-clr-primary);
}
