<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/00/00'     -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="data:image/x-icon;,"
			type="image/x-icon"
		/>
		<link rel="stylesheet" type="text/css" href="webe-header.css" />
		<script
			type="module"
			src="webe-header.js"
			content="text/javascript"
		></script>
		<title id="title">Webelistics<sup class="title-sup">&#174;</sup></title>
	</head>

	<body></body>
</html>
