@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
	--webe-header-primary: hsl(0, 0%, 13%);
	--webe-header-clr: #eb9028;
	--webe-header-trim: hsl(30, 4%, 11%);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-white-clr: hsl(0, 3%, 85%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
}

/* * {
	margin: 0;
	padding: 0;
}

html {
	background: var(--webe-header-clr);
}
html:focus-within {
	scroll-behavior: smooth;
} */

.header {
	display: grid;
	grid-template-columns: 0.3fr 1.2fr 1fr;
	grid-auto-rows: 1 / 2;
	position: relative;
	width: 100vw;
	height: auto;
	background-color: var(--webe-header-primary);
	border-top: var(--webe-header-clr) 1.7vh solid;
	border-bottom: var(--webe-header-clr) 1.7vh solid;
	text-align: center;
	/* overflow-x: hidden; */
	/* white-space: nowrap; */
	z-index: 1;
}

/* .header > div:nth-child(odd) {
	background: hsl(32, 83%, 54%);
} */

.box1 {
	display: grid;
	grid-auto-columns: minmax(max-content, 0.5fr) 1;
	grid-row: 1 / 2;
	top: 0;
	left: 0;
	align-items: center;
	/* max-width: minmax(15%, 55px); */
	/* height: auto; */
	z-index: 1;
}

.box1 .logo {
	margin-left: 0.3vw;
	padding: 0.4vw 0 0.4vw 0.3vw;
	width: calc(85% - -26px);
	height: auto;
	border-radius: 1.1vw;

	aspect-ratio: 1.25 / 1;
	z-index: 2;
}

.header .box2 {
	grid-column: 2;
	grid-row: 1;
}

.box2 .pinguin {
	margin-left: -9.5vw;
	margin-top: 1.5vh;
	padding-left: -30vw;
	padding-top: 0.3vh;
	position: absolute;
	width: 2.2vw;
	height: auto;
	aspect-ratio: 0.9 / 1;
	filter: drop-shadow(4px 5px 9px rgb(3, 3, 3));
	transform: rotate(15deg) translate(0, -1.2vw);
}

.box2 > .hoot-title {
	margin-left: 6vw;
	margin-top: 0.5vh;
	text-align: center;
	font-family: 'Chango', cursive;
	font-size: 5vw;
	letter-spacing: 0.8vw;
	color: var(--webe-header-clr);
	text-shadow: hsl(31, 67%, 70%) 4px 3px 5px;
	z-index: 2;
}

.webe-title {
	margin-top: -6.1vh;
	padding-left: 11vw;
	font-family: 'Days One', sans-serif;
	font-size: 1.6vw;
	letter-spacing: 0.4vw;
	color: hsl(0, 3%, 85%);
	text-shadow: hsl(32, 75%, 60%) 1px 1px 21px;
	z-index: 2;
}

.webe-title > .webe-register {
	font-size: 0.7vw;
}

.header > .box3 {
	grid-column: 3;
	grid-row: 1;
	position: relative;
	width: 100%;
	height: auto;
	justify-content: left;
	text-align: center;
	align-items: left;
	z-index: 2;
	/* background: hsl(32, 83%, 54%); */
}

.hoot-head-trans {
	margin-top: 2.3vh;
	position: relative;
	padding-left: 4vw;
	display: block;
	width: 3vw;
	height: auto;
	filter: drop-shadow(4px 3px 15px rgb(175, 174, 174));
	aspect-ratio: 1/1;
}

.box3 .jingle-top {
	margin-top: -1.2vh;
	margin-left: 3.2vw;
	position: relative;
	width: 26vw;
	height: auto;
	font-family: 'Days One', sans-serif;
	font-size: 0.7vw;
	font-style: italic;
	letter-spacing: 0.2vw;
	color: hsl(0, 3%, 85%);
	text-shadow: hsl(32, 93%, 70%) 1px 1px 21px;
	z-index: 3;
}

.header > .box5 {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	/* height: 1vh; */
}

.hamNavMenu-button {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	background-color: #222222;
}

.hamNavMenu-button > .bar {
	height: 3px;
	width: 100%;
	background-color: var(--webe-title-clr);
	border-radius: 10px;
}
