
{{!-- <h1 class="desktop-title">Desktop Application Development</h1> --}}
<head>


</head>
{{!-- <img src="/src/img/software_logos/javascript-39396.png" alt="javascript logo" class="desktop-jhc"> --}}
{{!-- <img src="/src/img/software_logos/electron.png" alt="electron logo" class="desktop-electron"> --}}
{{!-- <h1 class="electron-title">Electron Development for <br> Desktop Applications</h1> --}}

{{!-- <img src="/src/img/software_logos/HOOT-webe_ad-15.png" alt="webe logo" class="desktop-webe"> --}}






 
{{{body}}}