<!--~    Webelistics® Web Component // webe-responsive    -->
<!--~    Gordon R. Mullen Jr  'Date: 2022/01/24'     -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com/"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="shortcut icon"
			href="./img_responsive/favicon.ico"
			type="image/x-icon"
		/>
		<link rel="stylesheet" type="text/css" href="webe-responsive.css" />
		<script
			type="module"
			src="./webe-responsive.js"
			content="text/javascript"
		></script>
		<title>Web-Componet Development, Webelistics®</title>
	</head>

	<body>
		<webe-responsive></webe-responsive>
	</body>
</html>
