@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import url('../../src/css/index.css');

:root {
	--webe-header-primary: hsl(0, 0%, 13%);
	--webe-header-clr: hsl(32, 83%, 54%);
	--webe-header-trim: hsl(30, 4%, 11%);
	--webe-footer-clr: rgba(235, 144, 40, 0.09);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--text-gold: hsl(56, 86%, 60%);
	--bg-primary: #23232e;
	--bg-secondary: rgba(235, 144, 40, 0.09) /*#141418*/;
	--transition-speed: 600ms;
}

.navbar {
	top: 0vh;
	margin: -55.5vh 0 0 0;
	position: inline-block;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: scroll;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: right;
	height: 80vh;
}

.nav-item {
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link svg {
	width: 1.5rem;
	min-width: 1.5rem;
	margin: 0.3rem 1rem 0.2rem 1rem;
}

.fa-primary {
	color: var(--webe-HOOT-clr);
}

.fa-secondary {
	color: var(--webe-HOOT-clr);
}

.fa-primary,
.fa-secondary {
	transition: var(--transition-speed);
}

.logo {
	font-weight: bold;
	/* text-transform: uppercase; */
	margin-bottom: 0.1rem;
	text-align: center;
	color: var(--text-secondary);
	background: hsla(0, 25%, 5%, 1) /* var(--bg-secondary) */;
	font-size: 1.3rem;
	letter-spacing: 0.4ch;
	width: 100%;
}

.logo svg {
	transform: rotate(0deg);
	transition: var(--transition-speed);
}

.logo-text {
	margin-top: 0.8vh;
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
}

.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

/* h1 {
	margin-top: 3vh;
	text-align: center;
	color: var(--text-secondary);
}

p {
	margin: 1vh 3vw 0 5vw;
	padding: 2vh 4vw 0 4vw;
} */

/* Small screens */
@media only screen and (max-width: 1100px) {
	/* body in media */
	body {
		background-color: var(--webe-header-primary);
		background-color: var(--bg-primary);
		background-color: var(--bg-secondary);
		--transition-speed: 600ms;
	}
	main {
		color: var(--text-gold);
		color: var(--text-gold);
		color: var(--text-gold);
		--transition-speed: 600ms;
	}

	.navbar {
		width: 100%;
		height: 8rem;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.nav-link {
		justify-content: center;
	}

	main {
		margin: 0;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	body {
		background-color: var(--webe-header-primary);
		background-color: var(--bg-primary);
		background-color: var(--bg-secondary);
		--transition-speed: 300ms;
	}
	main {
		color: var(--text-gold);
		color: var(--text-gold);
		color: var(--text-gold);
		--transition-speed: 600ms;
	}
	.navbar {
		top: 12.3vh;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 21.5rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo svg {
		margin-left: 11rem;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}
}

.dark {
	--text-gold: hsl(41, 93%, 72%);
	--text-primary: #b6b6b6;
	--text-secondary: hsl(32, 83%, 54%);
	--bg-primary: #23232e;
	--bg-secondary: #222222;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #fdf6e3;
	--bg-secondary: #f5e5b8;
}

.theme-icon {
	display: none;
}

.dark #darkIcon {
	display: block;
}

.light #lightIcon {
	display: block;
}

.solar #solarIcon {
	display: block;
}
