<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/01/29'     -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			rel="shortcut icon"
			href="data:image/x-icon;,"
			type="image/x-icon"
		/>
		<link rel="stylesheet" type="text/css" href="./webe-search.css" />
		<script
			type="module"
			src="./webe-search.js"
			content="text/javascript"
		></script>
	</head>

	<body>
		<div class="search-container">
			<label for="search">Search Users</label>
			<input type="search" id="search" data-search />
		</div>
		<div class="user-cards" data-user-cards-container></div>
		<template data-user-template>
			<div class="card">
				<div class="header" data-header></div>
				<div class="body" data-body></div>
			</div>
		</template>
	</body>
</html>
