@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
	--webe-header-primary: hsl(0, 0%, 13%);
	--webe-backLight-clr: hsl(0, 0%, 26%);
	--webe-header-clr: hsl(32, 83%, 54%);
	--webe-header-trim: hsl(30, 4%, 11%);
	--webe-black-clr: hsl(0, 0%, 0%);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-gold-clr: hsl(51, 100%, 50%);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
	--webe-work-fs: 'Work Sans', sans-serif;
}

/* .h1 {
	margin: 20px;
	font-family: 'Work Sans', sans-serif;
	font-size: 3rem;
	color: #b3b3b3;
	text-shadow: rgb(131, 131, 131) 2px 2px 3px;
	text-align: center;
}

.h2 {
	margin-top: 70px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 2.5rem;
	color: #b3b3b3;
	text-shadow: rgb(131, 131, 131) 2px 2px 3px;
	text-align: center;
} */

.search-wrapper {
	top: 30vh;
	right: 2vw;
	margin: 2vh 5vw 3vh 5vw;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: calc(20% - 40px);
	gap: 0.25rem;
	font-family: var(--webe-work-fs);
	color: var(--webe-title-clr);
	text-align: right;
}

input {
	font-family: var(--webe-work-fs);
	font-size: 1rem;
	color: var(--webe-header-trim);
}

.user-cards {
	margin-left: 60%;
	padding-top: 8%;
	top: 45vh;
	right: 3vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 30%;
	font-family: var(--webe-work-fs);
	color: var(--webe-title-clr);
	z-index: 8;
}

.card {
	right: 5vw;
	padding: 0.5rem;
	border: 1px solid var(--webe-title-clr);
	background-color: var(--webe-backLight-clr);
	z-index: 8;
}

.card .header {
	margin-bottom: 0.25rem;
}

.card .body {
	top: 18vh;
	left: 5vw;
	font-size: 0.8rem;
	color: var(--webe-gold-clr);
}

.hide {
	display: none;
}
