@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
	--webe-header-primary: hsl(0, 0%, 13%);
	--webe-backLight-clr: hsl(0, 0%, 26%);
	--webe-header-clr: hsl(32, 83%, 54%);
	--webe-header-trim: hsl(30, 4%, 11%);
	--webe-black-clr: hsl(0, 0%, 0%);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-gold-clr: hsl(51, 100%, 50%);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
	--webe-work-fs: 'Work Sans', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--webe-header-primary);
}

/* .h1 {
	margin: 20px;
	font-family: 'Work Sans', sans-serif;
	font-size: 3rem;
	color: #b3b3b3;
	text-shadow: rgb(131, 131, 131) 2px 2px 3px;
	text-align: center;
}

.h2 {
	margin-top: 70px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 2.5rem;
	color: #b3b3b3;
	text-shadow: rgb(131, 131, 131) 2px 2px 3px;
	text-align: center;
} */

.search-wrapper {
	display: flex;
	flex-direction: column;
	width: calc(20% - 20px);
	gap: 0.25rem;
	font-family: var(--webe-work-fs);
	color: var(--webe-title-clr);
}

input {
	font-family: var(--webe-work-fs);
	font-size: 1rem;
	color: var(--webe-header-trim);
}

.user-cards {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
	grid-template-columns: no-repeat (auto-fill, minmax(150px, 1fr)) 1fr;
	gap: 0.25rem;
	margin-top: 1rem;
	font-family: var(--webe-work-fs);
	color: var(--webe-title-clr);
}

.card {
	padding: 0.5rem;
	border: 1px solid var(--webe-title-clr);
	background-color: var(--webe-backLight-clr);
}

.card > .header {
	margin-bottom: 0.25rem;
}

.card > .body {
	font-size: 0.8rem;
	color: var(--webe-gold-clr);
}

.hide {
	display: none;
}
