:root {
	--text-primary: hsl(0, 0%, 71%);
	--text-primary-slider: hsl(0, 0%, 13%);
	--text-secondary: hsl(0, 0%, 93%);
	--text-secondary-slider: hsl(32, 83%, 54%);
	--bg-primary: hsl(0, 0%, 13%);
	--bg-secondary: hsl(240, 9%, 9%);
	--bg-secondary-light: hsl(240, 9%, 9%);
	--webe-header-primary: hsl(0, 15%, 24%);
	--webe-header-clr: hsl(32, 83%, 54%);
	--webe-medium-clr: hsl(30, 29%, 97%);
	--webe-shadow-clr: hsl(32, 55%, 81%);
	--webe-header-trim: hsl(30, 4%, 11%);
	--webe-HOOT-clr: hsl(32, 83%, 54%);
	--webe-HOOT-clr-wopac: rgba(235, 144, 40, 0.6);
	--webe-title-clr: hsl(0, 0%, 70%);
	--webe-HOOT-fs: 'Chango', cursive;
	--webe-title-fs: 'Days One', sans-serif;
	--webe-font-clr: hsl(0, 0%, 13%);
	--webe-font-clr-freak: hsla(90, 100%, 50%, 0.9);
	--webe-font-text-shadow: hsl(32, 83%, 54%) 3px 1px 4px;
	--webe-fontDark-text-shadow: hsl(0, 0%, 13%) 3px 1px 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.section-slider {
	margin: -85vh auto 2vh auto;
	display: flex;
	position: relative;
	top: 4vh;
	left: 2vw;
	width: 45vw;
	height: 45vh;
	overflow: hidden;
	border-radius: 20px;

	/* z-index: 2; */
}

.section-slider .slide {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	clip-path: circle(0% at 0 50%);
	opacity: 0;
	justify-content: center;
	align-items: center;
	/* border: hsl(323, 100%, 50%) solid 250px; */
}

.section-slider .slide.active {
	clip-path: circle(150% at 0 5%);
	opacity: 1;
	transition: 3s ease-in;
	border: hsl(32, 83%, 54%) solid 7px;
	justify-content: center;
	align-items: center;
}

.section-slider .slide .img {
	position: relative;
	padding-bottom: 5vh;
	top: 12vh;
	left: 10vw;
	width: 18vw;
	height: auto;
	object-fit: scale-down;
	justify-content: center;
	align-items: center;
}

.section-slider .slide .info {
	top: 1vh;
	position: relative;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: auto;
	margin-top: 1vh;
	margin-left: auto;
	padding: 1vw;
	border-radius: 5px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.section-slider .slide .info .h2 {
	font-size: 1.3rem;
	font-weight: 800;
	color: var(--webe-font-clr-freak);
}

.section-slider .slide .info .p {
	font-size: 0.8rem;
	font-weight: 400;
	color: var(--text-secondary-slider);
}

.navigation {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.section-slider:hover .navigation {
	opacity: 1;
}

.prev-btn,
.next-btn {
	z-index: 995;
	font-size: 4em;
	color: rgb(5, 5, 5);
	background: rgba(143, 64, 64, 0.8);
	padding: 10px;
	cursor: pointer;
}

.prev-btn {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.next-btn {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.navigation-visibility {
	z-index: 997;
	display: flex;
	justify-content: center;
}

.navigation-visibility .slide-icon {
	z-index: 998;
	background: rgba(255, 255, 255, 0.5);
	width: 20px;
	height: 10px;
	transform: translateY(-50px);
	margin: 0 6px;
	border-radius: 2px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
	background: hsl(140, 100%, 50%);
}

@media (max-width: 900px) {
	.section-slider {
		width: 100%;
	}

	.section-slider .slide .info {
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 500px) {
	.section-slider .slide .info h2 {
		font-size: 1.8em;
		line-height: 40px;
	}

	.section-slider .slide .info p {
		font-size: 0.9em;
	}
}
