<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/00/00'     -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link
			rel="shortcut icon"
			href="data:image/x-icon;,"
			type="image/x-icon"
		/>
		<link rel="stylesheet" type="text/css" href="webe-devtools.css" />
		<script
			type="module"
			src="webe-devtools.js"
			content="text/javascript"
		></script>

		<title>Webelistics® Development Tools Component</title>
	</head>

	<body></body>
</html>
